.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-color: darksalmon;
   border-style: groove; 
   border-width: 10px;
   background-image: inherit; 
   border-radius: 5px;
   background-repeat:no-repeat;
}



